
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1478139278309'); /* IE9*/
  src: url('iconfont.eot?t=1478139278309#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1478139278309') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1478139278309') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1478139278309#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before { content: "\e697"; }

.icon-close:before { content: "\e69a"; }

.icon-comments:before { content: "\e69b"; }

.icon-delete:before { content: "\e69d"; }

.icon-edit:before { content: "\e69e"; }

.icon-favorite:before { content: "\e6a0"; }

.icon-refresh:before { content: "\e6aa"; }

.icon-selected:before { content: "\e6ad"; }

.icon-set:before { content: "\e6ae"; }

.icon-success:before { content: "\e6b1"; }

.icon-viewlist:before { content: "\e6b5"; }

.icon-account:before { content: "\e6b8"; }

.icon-add:before { content: "\e6b9"; }

.icon-filter:before { content: "\e6f1"; }

.icon-pin:before { content: "\e6f2"; }

.icon-gerenzhongxin:before { content: "\e70b"; }

.icon-icondownload:before { content: "\e714"; }

.icon-map:before { content: "\e715"; }

.icon-bad:before { content: "\e716"; }

.icon-good:before { content: "\e717"; }

.icon-skip:before { content: "\e718"; }

.icon-share:before { content: "\e71d"; }

.icon-bussinessman:before { content: "\e726"; }

.icon-favoritesfilling:before { content: "\e730"; }

.icon-accountfilling:before { content: "\e732"; }

.icon-hot:before { content: "\e756"; }

