
// html,body{ width: 100%;width: 100%;padding: 0px; margin: 0px; }
// #container{
//         width: 100%;width: 100%;padding: 0px; margin: 0px;  
//         display: flex;
//         flex-direction: row;
//         flex-wrap: nowrap;
//         div.item{  width: 200px; height: 150px; border: 1px solid red; line-height: 200px; text-align: center;}
// }

@font-face {
  font-family: 'iconfont';
  src: url('./iconfont/iconfont.eot');
  src: url('./iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./iconfont/iconfont.woff') format('woff'),
  url('./iconfont/iconfont.ttf') format('truetype'),
  url('./iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

*{ padding: 0px; margin: 0px; font-size: 14px; }
html,body{
        width: 100%;
        height: 100%;
}

ul{
        list-style: none;
}
a{
        color: #efefef;
        text-decoration: none;
        &:hover{
                text-decoration: none;
        }
}

a.user-link{
        color: #80bd01;
        display: block;
}

#container{
        background-color: #fff;
        height: 100%;

        header{
                height: 45px;
                line-height: 45px;
                background: #f6f6f6;
                &.topicHeader{
                        background-color: #80bd01;
                        .iconfont{ color: #fff; font-size: 22px; float: left;}
                        a.backBtn{
                                padding-left: 5px;
                                display: block;
                                width: 80px;
                        }
                        h2{
                                text-align: center;
                                font-weight: bold;
                                color: #fff;
                                text-overflow: ellipsis;
                                overflow: hidden;

                        }
                       
                        span#toolBtn{
                                padding-right: 5px;
                        }     

                }

                
                ul{
                        width: 100%;
                        li{
                                text-align: center;
                                a{
                                        color: #80bd01;
                                        display: block;
                                }
                                &.currentTab{
                                        background-color: #80bd01;
                                        a{
                                                color: #fff;
                                                font-weight: bold;
                                        }
                                }
                        }
                }           
        }
       >div{
                height: 100%;
                .contentWarpper{

                        a.userLink{
                                width: 45px;
                                height: 45px;
                                float: left;
                                margin-right: 5px;
                                >div{
                                        width: 45px;
                                        height: 45px;
                                        border-radius: 45px;
                                        background-repeat: no-repeat;
                                        background-size: 45px 45px;
                                        float: left;
                                }
                        }
                        
                        overflow-y: scroll;
                        -webkit-overflow-scrolling : touch;
                        ul.topic-list{
                                li{
                                        height: 65px;
                                        padding: 0px 5px;
                                        // line-height: 60px;
                                        border-bottom: 1px solid #f0f0f0;
                                        
                                        a{
                                                font-weight: normal;
                                                margin: 10px 0px;
                                                white-space: nowrap;
                                                display: block;
                                                font-size: 1em;
                                                color: #333;
                                                line-height: 19px;
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                                text-decoration: none;
                                                // height: 30px;
                                        }
                                        span{
                                                display: block;
                                                width: 30px;
                                                height: 20px;
                                                line-height: 20px;
                                                float: left;
                                                

                                                &.green{
                                                        background-color: #80bd01;
                                                        color: #fff;
                                                        margin: 10px 5px 0px 5px;
                                                        text-align: center;
                                                }
                                                &.normal{
                                                        background-color: #ccc;
                                                        color: #f0f0f0;
                                                        margin: 10px 5px 0px 5px;
                                                        text-align: center;
                                                }
                                                &.count{
                                                        width: 80px;
                                                        span{
                                                                width: initial;
                                                                &:nth-child(1){
                                                                        color:#9e78c0;
                                                                }
                                                                
                                                                &:nth-child(3){
                                                                        color:#b4b4b4;
                                                                }
                                                        }
                                                        
                                                }
                                                &.time{
                                                        float: right;
                                                        width: 100px;
                                                        text-align: right;
                                                        color: #778087;
                                                        font-size: 12px;
                                                }
                                        }
                                }
                        }
                        .fetching{
                                margin: 20px auto 20px auto;
                                position: relative;
                                -webkit-animation: rotate-forever 1s infinite linear;
                                animation: rotate-forever 1s infinite linear;
                                height: 30px;
                                width: 30px;
                                border: 4px solid #80bd01;
                                border-right-color: transparent;
                                border-radius: 50%;
                        }
                        .topicContent{
                                 padding: 5px;
                                 .header,.content,.replyList{
                                          width: 100%;
                                        float: left;
                                        border-bottom: 1px solid #f0f0f0;
                                        word-wrap: word-break;
                                        padding-bottom: 10px;
                                        margin-bottom: 10px;
                                 }
                                .header{
                                        
                                        h1{
                                                color: #333;
                                                font-size: 20px;
                                                padding: 0px 5px;
                                       
                                        }
                                        span{
                                                font-size: 12px;
                                                
                                        }
                                        a{
                                                color: #80bd01;
                                                font-size: 12px;
                                                margin-right: 5px;
                                        }
                                        i{
                                                float: right;
                                                margin-right: 15px;
                                        }
                                }
                                .content{
                                       
                                        a{
                                                color: initial;
                                        }
                                        img{
                                                width: 100%;
                                        }
                                        
                                }
                                .replyList{
                                        border-bottom:  none;
                                        >div{
                                                height: 30px; 
                                                line-height: 17px;
                                                font-size: 14px;
                                                color: #444;
                                                border-bottom:  1px solid #f0f0f0;
                                                padding-left: 5px;
                                        }
                                        ul.reply-list{
                                                list-style: none;
                                                li{
                                                        min-height: 60px;
                                                        border-bottom:  1px solid #f0f0f0;
                                                        padding-bottom: 5px;
                                                        
                                                        div.info-header{
                                                                span.layer-number{
                                                                        float: left;
                                                                        color: #888;
                                                                        margin-right: 5px;
                                                                }
                                                                margin-top: 5px;
                                                                height: 25px;
                                                                // line-height: 35px;
                                                                a.user-link,span.from-now{
                                                                        float: left;
                                                                        margin-right: 5px;
                                                                        font-size: 14px;
                                                                }
                                                                
                                                                a.reply, a.good{
                                                                        float: right;
                                                                        color: #000;
                                                                        margin-left: 5px;
                                                                }
                                                                
                                                        }
                                                        div.reply-date{
                                                                color: #888;
                                                        }
                                                        div.info-content{
                                                                a{ color: #80bd01}
                                                        }
                                                }
                                        }
                                }

                               
                                
                        }

                       
                }         
        }
        footer{
                height: 55px;
                line-height: 55px;
                background:  #80bd01;
                ul{
                        li{
                                text-align: center;
                                a{
                                        display: block;
                                }
                        }
                }
        }
}


@keyframes rotate-forever {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
